<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue ToDoList</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <div class="container">
            <ul>
                <li v-for="(task, i) in toDo" :class="{done: task.done} ">
                    {{toDo[i].text}}
                    <button @click="remove(i)">Delete</button>
                </li>
            </ul>
            <input type="text" v-model="newItem" @keyup.enter="addElement">
            <button @click="addElement(i)">Add</button>
        </div>
    </div>
    
    <script src="main.js"></script>
</body>
</html>